# Ignore Python virtual environments
.venv/
venv/


# Ignore raw and cleaned FRED data
data/raw/
data/clean/

# macOS junk files
.DS_Store

# Python cache
__pycache__/
*.py[cod]

# Ignoring gcp_creds.json for security reasons
gcp_creds_base64.txt
gcp_creds.json